{{ define "main" }}
<article class="bg-white rounded-lg shadow-sm overflow-hidden">
    <!-- Featured Image -->
    <!--
        Maybe some day i'll add support for header images
        <div class="w-full h-64 md:h-80 bg-gradient-to-r from-teal-400 to-blue-500 flex items-center justify-center">
        <img src="https://via.placeholder.com/800x400" alt="Building Modern Web Components" class="w-full h-full object-cover">
        </div>
    -->

    <!-- Article Content -->
    <div class="p-6">
        <div class="text-sm text-gray-500 ">
            <time datetime="{{ .PublishDate.Format "2006-01-02" }}">
                {{ .PublishDate.Format "2 Jan 2006" }}
            </time>
            {{ if ne .PublishDate .Lastmod }} 
            <time datetime="{{ .Lastmod.Format "2006-01-02" }}">
               • updated {{ .Lastmod.Format "2 Jan 2006" }}
            </time>
            {{ end }}
        </div>
        <!-- Article Title -->
        <h1 class="text-3xl md:text-4xl font-bold text-gray-900 mb-4 leading-tight">
            {{ if .Draft }} [DRAFT] {{ end }}
            {{ .Title }}
        </h1>

        <div class="flex items-center justify-between mb-8 pb-6 border-b border-gray-200">
            <div class="flex flex-wrap gap-2 mb-4">
                {{ range .Params.Tags }} 
                <a href="{{ "/tags/" | relURL }}{{ . | urlize }}" class="bg-gray-100 hover:bg-teal-100 text-gray-700 hover:text-teal-800 px-3 py-1 rounded-full text-sm font-medium transition-colors duration-200 cursor-pointer">
                    {{ . }}
                </a>
                {{ end }}
            </div>
        </div>

        <div class="prose prose-lg max-w-none">
            {{ .Content }}
        </div>
    </div>
</article>

{{ partial "disqus.html" . }}

{{ end }}
