    <meta charset="utf-8">
    <title>{{ block "title" . }}
      {{ if .Title }}
        {{ .Title }} &mdash;
      {{ end }}
      {{ .Site.Title }}
    {{ end }}</title>

    <meta name="author" value="{{ .Site.Params.Author.name }}">
    <meta property="og:title" content="{{ .Title }}">
    <meta property="og:description" content="{{ .Summary }}">
    <meta property="og:type" content="{{ if .IsPage }}article{{ else }}website{{ end }}">
    <meta property="og:url" content="{{ .Permalink }}">

    <meta name="viewport" content="width=device-width, initial-scale=1">

    {{ with .OutputFormats.Get "rss" -}}
      {{ printf `<link rel=%q type=%q href=%q title=%q>` .Rel .MediaType.Type .Permalink site.Title | safeHTML }}
    {{ end }}

    <link rel="stylesheet" href="{{ "/css/spectre.min.css" | relURL }}">
    <link rel="stylesheet" href="{{ "/css/style.css" | relURL }}">

    <link rel="canonical" href="{{ .Site.BaseURL }}">
