    <meta charset="utf-8">
    <title>{{ block "title" . }}
      {{ if .Title }}
        {{ .Title }} &mdash;
      {{ end }}
      {{ .Site.Title }}
    {{ end }}</title>

    <meta name="author" value="{{ .Site.Author.name }}">
    <meta property="og:title" content="{{ .Title }}">
    <meta property="og:description" content="{{ .Summary }}">
    <meta property="og:type" content="{{ if .IsPage }}article{{ else }}website{{ end }}">
    <meta property="og:url" content="{{ .Permalink }}">

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="alternate" href="{{ .Site.RSSLink }}" type="application/rss+xml" title="{{ .Site.Title }}">

    <link rel="stylesheet" href="{{ "/css/spectre.min.css" | relURL }}">
    <link rel="stylesheet" href="{{ "/css/style.css" | relURL }}">

    <link rel="canonical" href="{{ .Site.BaseURL }}">
