<div class="container grid-lg">
  <header class="navbar hide-sm">
    <section class="navbar-section">
      <a href="{{ "/" | relURL }}" class="navbar-brand">
        {{ .Site.Title }}
      </a>
    </section>
    <section class="navbar-section">
      {{ range .Site.Menus.main }}
        <a href="{{ .URL }}" class="btn btn-link">
          {{ .Name | title }}
        </a>
      {{ end }}
    </section>
  </header>

  <header class="show-sm columns">
    <div class="column col-12">
      <a href="{{ "/" | relURL }}" class="navbar-brand">
        {{ .Site.Title }}
      </a>
    </div>
    <div class="column col-12">
      {{ range .Site.Menus.main }}
        <a href="{{ .URL }}" class="btn btn-link">
          {{ .Name | title }}
        </a>
      {{ end }}
    </div>
  </header>
</div>
<div class="divider"></div>
