{{ define "main" }}
<div class="">
    {{ .Content }}
</div>

<h4 class="text-lg mt-3 mb-3">Recent Blog Posts</h4>

{{ range (where .Site.Pages "Type" "posts").ByPublishDate.Reverse.Limit 4 }}
{{ .Render "summary" }}
{{ end }}

<nav class="flex items-center justify-between  px-6 py-4 ">
    <div>
        
    </div>
    <a href="{{ "/posts" | relURL }}" class="flex items-center px-4 py-2 text-sm font-medium text-gray-700 bg-white border border-gray-300 rounded-md hover:bg-teal-50 hover:text-teal-700 hover:border-teal-300 transition-colors">
        More Blog Posts
        <svg class="w-4 h-4 ml-2" fill="none" stroke="currentColor" viewBox="0 0 24 24">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 5l7 7-7 7"></path>
        </svg>
    </a>
</nav>
{{ end }}

