{{ define "main" }}
<div class="columns">
    <div class="column">
        {{ .Content }}
    </div>
</div>
<div class="columns">
    <div class="column">

        <h4>Recent Blog Posts</h4>

        {{ range (where .Site.Pages "Type" "posts").ByPublishDate.Reverse.Limit 4 }}
        {{ .Render "summary" }}
        {{ end }}

        <div class="text-right">
            <a href="{{ "/posts" | relURL }}">
                More blog posts &rarrc;
            </a>
        </div>
    </div>
</div>

{{ end }}

